{% load static %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="{{ charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site_name }}</title>
  <meta name="keywords" content="{% block keywords %}{% endblock %}">
  <meta name="description" content="{% block description %}{% endblock %}">
  <link rel="shortcut icon" href="{% static 'radio/img/favicon.png' %}" type="image/png">

  <link rel="stylesheet" href="{% static 'radio/css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'radio/css/format.css' %}">
  <link rel="stylesheet" href="{% static 'radio/css/styles.css' %}">

  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <a href="{% url 'radio:index' %}">
      <img src="{% static 'radio/img/logo.png' %}" class="logo" alt="{{ site_name }}">
    </a>

    <nav>
      <a href="{% url 'radio:library' %}">Library</a>
        {% if user.is_authenticated %}
          <span>{{ user.username }}</span>
          <a href="{% url 'logout' %}">logout</a>
        {% else %}
          <a href="{% url 'login' %}">login</a>
          <a href="{% url 'accounts:signup' %}">signup</a>
        {% endif %}
      </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <a href="{% url 'radio:index' %}">{{ site_name }}</a>&nbsp;&copy; 2020 live from&nbsp;<span id="location">Minsk</span>
  </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'radio/js/bg.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>