{% extends 'base.html' %}
{% load static %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <section>
        <article class="radio">
            <h1>{{ site_name }}</h1>
            <div id="control-button-wrapper" class="hidden">
                <div id="control-button"></div>
                <audio id="player" controls preload="none"></audio>
            </div>
            <h3>Now Playing: <span id="song-title"></span></h3>
        </article>

        {% if user.is_authenticated %}
            <article>
                <form id="track-upload-form" action="{% url 'radio:index' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id="trackupload" type="file" name="file" multiple style="display: none;"
                           data-url="{% url 'radio:index' %}">
                    <input type="button" class="upload-tracks" value="Upload Tracks">
                </form>

                <div id="progress-info">
                        <h4 class="modal-title">Uploading: <span class="progress">0%</span></h4>
                </div>
            </article>
        {% endif %}
    </section>

    <section class="stats">
        <article>
            <h3>Listeners: <span id="listeners">0</span></h3>
            <h3>Tracks: <span id ="count-tracks">{{ count_tracks }}</span></h3>
        </article>

        <article>
            <h3>New tracks:</h3>
            <ul id="new-tracks">
                {% for track in new_tracks_list %}
                    <li>
                        {{ track.artist }} - {{ track.title }} uploaded by {{ track.user_uploaded }}
                    </li>
                {% endfor %}
            </ul>
        </article>

        <article>
            <h3>Most active users:</h3>
            <ul class="active-users">
                {% for user in active_users_list %}
                    <li>{{ user.username }} - {{ user.uploads }}</li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock %}


{% block javascript %}
  <script src="{% static 'radio/js/player.js' %}"></script>
  <script src="{% static 'radio/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'radio/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'radio/js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <script src="{% static 'radio/js/track-upload.js' %}"></script>
{% endblock %}


