{% extends 'base.html' %}
{% load static %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}

    <section>
        <article class="radio">
            <h1>{{ site_name }}</h1>
            <div id="control-button-wrapper" class="hidden">
                <div id="control-button"></div>
                <audio id="player" controls preload="none"></audio>
            </div>
            <h3>Now Playing: <span id="song-title"></span></h3>
        </article>

    {% if user.is_authenticated %}
        <article>
            <form action="{% url 'radio:index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Upload">
            </form>
        </article>
    {% endif %}

    </section>


    <section class="stats">
        <article>
            <h3>Listeners: <span id="listeners"></span></h3>
            <h3>Tracks: {{ count_tracks }}</h3>
        </article>

        <article>
            <h3>New tracks:</h3>
            <ul class="new-tracks">
                {% for track in new_tracks_list %}
                    <li>{{ track.artist }} - {{ track.title }} uploaded by {{ track.user_uploaded }}</li>
                {% endfor %}
            </ul>
        </article>

        <article>
            <h3>Most active users:</h3>
            <ul class="active-users">
                {% for user in active_users_list %}
                    <li>{{ user.username }} - {{ user.uploads }}</li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock %}


{% block javascript %}
    <script src="{% static 'radio/js/player.js' %}"></script>
{% endblock %}


