{% extends 'base.html' %}
{% load static %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}

    <section>
        <aritcle>
            <form action="{% url 'radio:library' %}" method="get">
                <input name="q" type="text" placeholder="Search...">
            </form>
        </aritcle>
        <article>
            <ul>
                {% for track in tracks_list %}
                    <li>{{ forloop.counter }}. {{ track.artist }} - {{ track.title }} ({{ track.album }}, {{ track.year }})</li>
                {% endfor %}
            </ul>
        </article>
        <article class="pagination">

            {% if page.has_previous %}
                {{ page.number }}
            {% else %}
                {{ page.number }}
            {% endif %}

            {% if page.has_next %}
                {{ page.paginator.num_pages }}
            {% else %}
                {{ page.paginator.num_pages }}
            {% endif %}
        </article>
    </section>

{% endblock %}

{% block javascript %}
    <script src="{% static 'radio/js/player.js' %}"></script>
{% endblock %}

