{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}
<section>
  <article class="auth">
<h2>Sign up</h2>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    {{ field.label_tag }}
    {{ field }}
    {% if field.errors %}<div class="errorlist clearfix">{{ field.errors }}</div>{% endif %}
  {% endfor %}
  <button type="submit">Sign up</button>
</form>
    </article>
  </section>
{% endblock %}